img {
    border-radius: 50%;
    margin: 30px;
    margin-left: 20px;
}

table {
    margin-bottom: 20px;
    padding: 5px;
}

.first-container {
    display: flex;
    align-items: center; /* This centers vertically */
    border-bottom: 1px solid blue;
}
.container {
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
}

td {
    padding: 5px;
}


